* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    height: 100vh;
}

header {
    background-color: black;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    color: red;
}

input {
    height: 1.5rem;
    margin-right: 10px;
    font-size: 1rem;
}

button {
    padding: .5rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.card{
    list-style-type: none;
    width: 200px;
    height: 300px; 
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 1px solid red;
}

.info{
    display: none;
    margin-bottom: .5rem;
    text-align: center;
}

.copertina{
    width: 100%;
    display: block;
    max-height: 300px;
}

.main-container {
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    background-color: rgb(38, 38, 38);
    padding: 2rem 0;
    overflow-y: auto;
}

.main-container h1 {
    color: red;
    margin-left: 3rem;
}

.cards-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.title {
    font-weight: bold;
    text-decoration: underline;
}

.card:hover {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: .8rem;
    padding: .5rem;
    padding-top: 1rem;
    overflow-y: scroll;
    overflow-x: none;
    justify-content: start;
    flex-direction: column;
}

.card:hover .info{
    display: block;
}

.card:hover .copertina{
    display: none;
}

.flag{
    width: 30px;
}

.fa-star {
    color: goldenrod;
}

h3{
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: gray;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(150, 150, 150);
}

::-webkit-scrollbar-track{
    background:  rgb(38, 38, 38);
}

::-webkit-scrollbar-corner{
    background-color: none;
}